<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>PokeDex</title>
</head>
<body>
    <a href="https://www.pokemon.com/el/">
        <img class="poke_logo" src="../assets/pokemon.png" alt="">
    </a>
    <div class="poke_dex">
        <div class="poke_card bulbasaur">
            <div class="pokemon_bg"><img src="../assets/bulbasaur.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">1. Bulbasaur</div>
                <div class="poke_info">poisson | grass</div>
            </div>
        </div>
    
        <div class="poke_card ivysaur">
            <div class="pokemon_bg"><img src="../assets/ivysaur.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">2. Yvisaur</div>
                <div class="poke_info">poisson | grass</div>
            </div>
        </div>

        <div class="poke_card venusaur">
            <div class="pokemon_bg"><img src="../assets/venusaur.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">3. Yvisaur</div>
                <div class="poke_info">poisson | grass</div>
            </div>
        </div>

        <div class="poke_card charmander">
            <div class="pokemon_bg"><img src="../assets/charmander.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">4. Charmander</div>
                <div class="poke_info">fire</div>
            </div>
        </div>

        <div class="poke_card charmeleon">
            <div class="pokemon_bg"><img src="../assets/charmeleon.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">5. Charmeleon</div>
                <div class="poke_info">fire</div>
            </div>
        </div>

        <div class="poke_card charizard">
            <div class="pokemon_bg"><img src="../assets/charizard.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">6. Charizard</div>
                <div class="poke_info">flying | fire</div>
            </div>
        </div>
        <div class="poke_card squirtle">
            <div class="pokemon_bg"><img src="../assets/squirtle.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">7. Squirtle</div>
                <div class="poke_info">water</div>
            </div>
        </div>
        <div class="poke_card wartortle">
            <div class="pokemon_bg"><img src="../assets/wartortle.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">8. Wartortle</div>
                <div class="poke_info">water</div>
            </div>
        </div>
        <div class="poke_card blastoise">
            <div class="pokemon_bg"><img src="../assets/blastoise.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">9. Blastoise</div>
                <div class="poke_info">water</div>
            </div>
        </div>
        <div class="poke_card pichu">
            <div class="pokemon_bg"><img src="../assets/pichu.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">10. Pichu</div>
                <div class="poke_info">electric</div>
            </div>
        </div>
        <div class="poke_card pikachu">
            <div class="pokemon_bg"><img src="../assets/pikachu.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">11. Pikachu</div>
                <div class="poke_info">electric</div>
            </div>
        </div>

        <div class="poke_card raichu">
            <div class="pokemon_bg"><img src="../assets/raichu.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">11. Raichu</div>
                <div class="poke_info">electric</div>
            </div>
        </div>

        <div class="poke_card togepi">
            <div class="pokemon_bg"><img src="../assets/togepi.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">12. Togepi</div>
                <div class="poke_info">fairy</div>
            </div>
        </div>
        <div class="poke_card togetic">
            <div class="pokemon_bg"><img src="../assets/togetic.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">13. Togetic</div>
                <div class="poke_info">fairy</div>
            </div>
        </div>
        <div class="poke_card togekiss">
            <div class="pokemon_bg"><img src="../assets/togekiss.png" alt=""></div>
            <div class="poke_data">
                <div class="poke_name">14. Togekiss</div>
                <div class="poke_info">fairy</div>
            </div>
        </div>
    </div>
</body>
</html>